android-studio/
android-studio-2024.*

*/.gradle/*
./PlainText/.gradle
./PlainText/.idea
./PlainText/.kotlin
./PlainText/local.properties

.idea

**/.gradle/*
**/.idea/*
**/.kotlin/*
**/local.propreties
**/.gradle/
/.gradle/
**/.gradle/*
**/.idea/
**/PlainText/local.properties
.idea
